body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tamanho-padrao{
    width: 280px;
}

.ng-invalid.ng-dirty{
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.label-form-cadastro {
    width: 100%;
    font-size: 18px;
}

.text-form-cadastro {
    font-size: 16px;
}

.text-form-ddd{
    width: 50px
}

.text-form-telefone {
    width: 140px
}