
@{
    ViewBag.Title = "Atualizar Cadastro";
}
<script src="~/Scripts/angularjs/usuario/model/usuario.js"></script>
<script src="~/Scripts/angularjs/usuario/controller/atualizarCadastro.js"></script>

<div class="jumbotron" ng-controller="atualizarCadastroController as cadastro">
    <h2>Atualizar Cadastro</h2>
    <form novalidate name="cadastroForm" ng-submit="cadastroForm.$valid && cadastro.atualizar()">
        <div class="row form-group">
            <div class="col-md-2 col-lg-2">
                <label for="txtNome" class="label-form-cadastro">Nome: </label>
            </div>
            <div class="col-md-5 col-lg-5">
                <input type="text"
                       name="txtNome"
                       placeholder="Nome Completo"
                       maxlength="600"
                       class="text-form-cadastro"
                       ng-model="cadastro.usuario.nome"
                       required />
            </div>
            <div class="col-md-5 col-lg-5" ng-show="cadastroForm.$submitted || cadastroForm.txtNome.$touched">
                <span class="label label-danger" ng-show="cadastroForm.txtNome.$error.required">Informe seu nome</span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2 col-lg-2">
                <label for="txtEmail" class="label-form-cadastro">E-mail: </label>
            </div>
            <div class="col-md-5 col-lg-5">
                <input type="email"
                       name="txtEmail"
                       placeholder="email@dominio.com"
                       maxlength="600"
                       class="text-form-cadastro"
                       ng-model="cadastro.usuario.email"
                       required />
            </div>
            <div class="col-md-5 col-lg-5" ng-show="cadastroForm.$submitted || cadastroForm.txtEmail.$touched">
                <span class="label label-danger" ng-show="cadastroForm.txtEmail.$error.required">Informe seu e-mail</span>
                <span class="label label-danger" ng-show="cadastroForm.txtEmail.$error.email">E-mail inválido.</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-lg-2">
                <label for="txtSenha" class="label-form-cadastro">Senha: </label>
            </div>
            <div class="col-md-5 col-lg-5">
                <input type="password"
                       name="txtSenha"
                       placeholder="Digíte uma senha"
                       maxlength="40"
                       class="text-form-cadastro"
                       ng-model="cadastro.usuario.senha"
                       ng-minlength="6"
                       required />
            </div>
            <div class="col-md-5 col-lg-5" ng-show="cadastroForm.$submitted || cadastroForm.txtSenha.$touched">
                <span class="label label-danger" ng-show="cadastroForm.txtSenha.$error.required">Informe a sua senha</span>
            </div>
        </div>
        <div class="form-group" ng-show="cadastro.erro.erro">
            <label class="label label-danger" ng-repeat="msgErro in cadastro.erro.mensagens">{{msgErro }}!</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary tamanho-padrao">Gravar</button>
        </div>
    </form>

</div>
